@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="column">
            <a href="~/files/menu.pdf"><img src="~/img/lunchMenu.png" class="menuImg" alt="Обедно меню"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Обедно меню</span></a>
        </div>
        <div class="column">
            <a href="~/files/menu.pdf"><img src="~/img/kidsMenu.jpg" class="menuImg" alt="Детскdо меню"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Детско меню</span></a>
        </div>
        <div class="column">
            <a href="~/files/menu.pdf"><img src="~/img/bgMenuu.jpg" class="menuImg" alt="Българско меню"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Българско меню</span></a>
        </div>
        <div class="column">
            <a href="~/files/menu.pdf"><img src="~/img/sushiMenuu.jpg" class="menuImg" alt="Суши меню"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Суши меню</span></a>
        </div>
        <div class="column">
            <a href="~/files/menu.pdf"><img src="~/img/strawberryMenuu.jpg" class="menuImg" alt="Mountains"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Ягодово меню</span></a>
        </div>
    </div>
</div>