@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="column">
            <a href="~/files/menu.pdf"><img src="~/img/lunchMenu.png" class="menuImg" alt="Обедно меню"></a>
            <br>
            <span  class="menuText">Обедно меню</span>
        </div>
        <div class="column" >
            <a href="~/files/menu.pdf"><img  src="~/img/kidsMenu.jpg" class="menuImg" alt="Детскdо меню"></a>
            <br>
            <span class="menuText">Детско меню</span>
        </div>
        <div class="column">
            <a href="~/files/menu.pdf"><img src="~/img/bgMenuu.jpg" class="menuImg" alt="Българско меню"></a>
            <br>
            <span  class="menuText">Българско меню</span>
        </div>
        <div class="column">
            <a href="~/files/menu.pdf"><img src="~/img/sushiMenuu.jpg" class="menuImg" alt="Суши меню"></a>
            <br>
            <span  class="menuText">Суши меню</span>
        </div>
        <div class="column">
            <a href="~/files/menu.pdf"><img src="~/img/strawberryMenuu.jpg" class="menuImg" alt="Mountains"></a>
            <br>
            <span  class="menuText">Ягодово меню</span>
        </div>
    </div>
</div>
<script>
    function func(a){
        console.log(a)
    }
</script>