@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="column">
        <img src="~/img/pic.jpg" class="fonPic">
    </div>
    <div class="column">
        <img src="~/img/pic8.jpg" class="fonPic">
    </div>
    <div class="column">
        <img src="~/img/pic11.jpg" class="fonPic">
    </div>
    <div class="column">
        <img src="~/img/pic2.jpg" class="fonPic">
    </div>
    <div class="column">
        <img src="~/img/pic5.jpg" class="fonPic">
    </div>
    <div class="column">
        <img src="~/img/pic1.jpg" class="fonPic">
    </div>
</div>

<div class="center">

    <div class="rowM">
        <div class="centerText columnM">
            <a href="~/files/menu.pdf"><img src="~/img/saladsMenu.png" class="menuImg" alt="Салати"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Салати</span></a>
        </div>
        <div class="centerText columnM">
            <a href="~/files/menu.pdf"><img src="~/img/mainMenu.png" class="menuImg" alt="Основно"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Основно</span></a>
        </div>
        <div class="centerText columnM">
            <a href="~/files/menu.pdf"><img src="~/img/appetizersMenu.png" class="menuImg" alt="Предястия"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Предястия</span></a>
        </div>
        <div class="centerText columnM">
            <a href="~/files/menu.pdf"><img src="~/img/kidsMenuu.png" class="menuImg" alt="Детскdо меню"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Детско меню</span></a>
        </div>
        <div class="centerText columnM">
            <a href="~/files/menu.pdf"><img src="~/img/seasonMenu.png" class="menuImg" alt="Сезонно меню"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Сезонно меню</span></a>
        </div>
        <div class="centerText columnM">
            <a href="~/files/menu.pdf"><img src="~/img/sushi.png" class="menuImg" alt="Суши меню"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Суши меню</span></a>
        </div>
        <div class="centerText columnM">
            <a href="~/files/menu.pdf"><img src="~/img/lunchMenuu.png" class="menuImg" alt="Обедно меню"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Обедно меню</span></a>
        </div>
        <div class="centerText columnM">
            <a href="~/files/menu.pdf"><img src="~/img/drinksMenu.png" class="menuImg" alt="Напитки"></a>
            <br>
            <a href="~/files/menu.pdf"><span class="menuText">Напитки</span></a>
        </div>
    </div>
</div>
