/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
   
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url('https://res.cloudinary.com/dimitur98/image/upload/v1607965786/8brQ5a_vf0huj.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.menuImg {
    max-width:200px;
    width:100%;
    height:auto;
}

.logo {
    height: 150px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.menuText {
    font-weight: bold;
    font-size:25px;
    color:black;
}
.centerText {
    text-align:center;
}
.center {
    margin: auto;
    width: 60%;
}


.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 16.6%;
    max-width: 16.6%;
}
.column img {
    vertical-align: middle;
    width: 100%;
    height:200px;
}
@media screen and (max-width: 1025px) {
    .column {
        flex: 33.3%;
        max-width: 33.3%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

}
@media screen and (max-width: 400px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.rowM {
    display: flex;
    flex-wrap: wrap;
}

.columnM {
    flex: 25%;
    max-width: 25%;
}

    .columnM img {
        vertical-align: middle;
        width: 100%;
    }

@media screen and (max-width: 1025px) {
    .columnM {
        flex: 33.3%;
        max-width: 33.3%;
    }
}

@media screen and (max-width: 600px) {
    .columnM {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .columnM {
        flex: 100%;
        max-width: 100%;
    }
}